@import 'variables';

.wrapper {
  background-color: $primary;
  padding: 50px;
  min-height: 100vh;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    background-color: unset;
    padding: unset;
    min-height: unset;
  }
}
