@import 'variables';

.main {
  background-color: #fff;
  padding: 32px;
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .main {
    padding: 8px;
  }
}
